In [10]:
import pandas as pd

In [18]:
data = pd.read_csv("spam.csv", encoding = "latin-1")

In [13]:
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [19]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis = 1, inplace = True)

In [21]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
data['class'] = data['class'].map({'ham':0, 'spam':1})

In [23]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [68]:
cv = CountVectorizer() # Create instance of count vectorizer

In [81]:
## Then we need to convert data set into indipendent and dependent feture
x = data['message'] # dependent
y = data['class'] # Independent

In [82]:
x = cv.fit_transform(x) # convert sparse matrix(UNIQUE WORDS AND THEIR COUNT)

In [83]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [96]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [101]:
model.fit(x_test, y_test)

MultinomialNB()

In [104]:
#Saving the trained model
import pickle

pickle.dump(model,open("spam.pkl","wb"))
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [115]:
# check model prediction
data = ["hey"]
data
vect = cv.transform(data).toarray()
print(model.predict(vect))

[0]